


{{> header }}

{{> navbar }}

 
 
<div class="row">
    <div class="col-8">
        <h1>Dzire</h1>
    </div>

     <div class="col-4">
        <img src="assets/img/dzire.PNG" class="img-thumbnail">
    </div>


</div>

{{> footer}}
